* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*header*/

.header {
  min-height: 124px;
  display: flex;
  align-items: center;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  max-height: 40px;
  border-radius: 2px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.btn-user {
  background-color: #1890ff;
  color: #ffffff;
  border: 1px solid #1890ff;
}

.btn-cart {
  background-color: #ffffff;
  color: #595959;
  border: 1px solid #d9d9d9;
}

.icon-container {
  width: 16px;
  height: 24px;
}

.icon-container img {
  max-width: 100%;
  padding: 4px 0;
}

/* main */

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #f5f5f5 100%);
    ;
}

.banner {
  margin-bottom: 56px;
}

.banner-item {
  background-image: url(./images/banners/banner-image.png);
  background-color: #FFF1B8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
}

.banner-item--content {
  max-width: 50%;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.banner-item--title {
  color: #302C34;
  font-size: 39px;
  font-weight: 700;
}

.banner-item--subtitle {
  color: #302C34;
  font-size: 24px;
  font-weight: 400;
}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header--title {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
}

.products-header--search {
  min-width: 306px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  background-image: url(./images/search.svg);
  background-position: 10px 8px;
  background-repeat: no-repeat;
  padding: 5px 12px 5px 32px;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #d9d9d9;
}

.products-header--search::placeholder {
  color: #BFBFBF;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.products-wrapper {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.products-card {
  width: calc((100% - 24px - 24px) / 3);
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.products-card__image {
  width: 100%;
}

.products-card__image img {
  width: 100%;
}

.products-card__description {
  padding: 20px 24px 34px 24px;
}

.products-card__description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__description--title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.products-card__description--badge {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 2px;
  background-color: #262626;
  padding: 1px 8px;
}

.products-card__description-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}

.products-card__description-info--rating {
  color: #FFC107;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.products-card__description-info--price {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.products-card__description-info--group {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
}

.products-card__description-info--group::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8C8C8C;
  position: absolute;
  left: -14px;
  top: 12px;
}

/* goods */

.products-card__description--name {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.products-card__description--text {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 29px;
}

.products-card__description-controls--price {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 991px) {
  .banner-item {
    background-image: none;
  }

  .banner-item--content {
    max-width: 100%;
  }
  


  .products-card {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 576px) {
  .banner-item--content {
    max-width: 100%;
  }

  .products-card {
    width: 100%;
  }
}

/* footer */

.footer {
  min-height: 156px;
  display: flex;
  align-items: center;
  padding: 60px 0;
}

.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  flex-wrap: wrap;
}

.footer-nav {
  flex-grow: 1;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-nav ul li {
  color: #595959;
  font-size: 18px;
  font-weight: 400;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 21px;
}

