* {
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

/*header*/

.header {
  height: 124px;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.header-controls {
  display: flex;
  gap: 8px;
}

.header-controls button {
  border-radius: 2px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.btn-user {
  background-color: #1890FF;
  color: #ffffff;
}

.btn-cart {
  background-color: #ffffff;
  color: #595959;
  border: 1px solid #D9D9D9;
}

.icon-container {
  width: 16px;
  height: 24px;
}
 
.icon-container img {
  max-width: 100%;
  padding: 4px 0;
}

/* main */



/* footer */

.footer {
  height: 156px;
}

.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  flex-grow: 1;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-social {
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}